matplotlib
easydict
numpy
albumentations
termcolor
attrs
timm
scikit_image
scipy
Cython
tqdm
attr
ipython
Pillow
PyYAML
scikit-image
mmcv==1.5.2
opencv-python-headless==4.1.2.30
wandb==0.12.17
pytorch_lightning
